@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--grape: 114, 35, 204,
}


a.active{
    color: white;
    font-weight: bolder;
    background-color: black;
    
}

svg.star-svg{
    display: inline;
}