@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--body_background: #fefce8;
--body_color: black;
--link_color: navy;
--toggle-bg: #fde68a;
}

[data-theme="dark"]{
    --body_background: #111827;
    --body_color: white;
    --link_color: cyan;
     --toggle-bg: #facc15;
}

a.active{
    color: white;
    font-weight: bolder;
    background-color: black;
    
}

svg.star-svg{
    display: inline;
}
